.home-container > h1 {
  margin-bottom: 2rem;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.book {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.book > img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.book > div {
  text-align: center;
}

.book .blue-btn:hover {
  background-color: transparent;
  color: blue;
  border: 1px solid blue;
  transition: 0.5s;
}
